<!doctype html>
<html lang="{{ or site.Language.LanguageCode site.Language.Lang }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
	{{ partial "head" . }}
	<body>
		<nav>
			<a href="/"><img src="/img/ddp-logo.svg" alt="logo" width="48px" height="48px"></a>
		
			<a href="https://doku.ddp.im">Bedienungsanleitung</a>
			<a href="https://spiel.ddp.im">Spielplatz</a>
			<a href="https://github.com/DDP-Projekt">GitHub</a>
		</nav>
		<main>
			{{ block "main" . }}{{ end }}
		</main>
	</body>
</html>
