{{- define "main" -}}
    {{- $style := resources.Get "/css/changelog.css" | minify }}
    {{ (printf "<%s>%s</style>" "style" ($style.Content | safeCSS)) | safeHTML }}
    
    {{ .Content }}
    {{ $url := "https://raw.githubusercontent.com/DDP-Projekt/Kompilierer/refs/heads/master/CHANGELOG.md" }}
    {{ with resources.GetRemote $url }}
        {{ .Content 
            | replaceRE `\[(\w+)] ` "<span class='tag $1'>$1</span> "
            | markdownify 
        }}
    {{ else }}
        {{ errorf "Unable to get remote resource %q" $url }}
    {{ end }}
{{- end -}}
