main {
    --line-start: 10px;
    margin: 1rem;
}

h2 {
    display: list-item;
    list-style-type: circle;
    list-style-position: inside;
    margin-left: calc(var(--line-start) - 2px);
}

li {
    word-wrap: break-word;

    p {
        display: inline-block;
    }
}

h2 + ul:not(ul ul) {
    list-style-type: none;
    border-left: solid black 1px;
    padding-left: 20px;
    margin-left: var(--line-start);
}

ul:has(+ h2) {
    padding-bottom: 1rem;
}

ul ul {
    list-style-type: disc;
}

.tag {
    border-radius: 5rem;
    padding-left: 0.4rem;
    padding-right: .5rem;
}

.Added {
    background-color: #32b643;
    color: white;
}

.Changed  {
    background-color: #ffb700;
}

.Removed {
    background-color: #9c2703;
    color: white;
}

.Breaking {
    background-color: #e84900;
    color: white;
}

.Fix {
    background-color: #9ec5f1;
}