#dl-row {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    row-gap: 1rem;
}

#dl-wrapper {
    display: flex; 
    place-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

#dl-btn {
    display: flex;
    flex-direction: column;
    padding: .25rem 1rem;
    align-items: center;
}

#dl-label {
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

#dl-icon {
    fill: var(--button-color);
}

#dl-text {
    font-size: 0.75rem;
    line-height: 1rem;
}