iframe {
    transform-origin: top left;
    width: calc(100% / var(--play-zoom-factor));
    height: calc(100% / var(--play-zoom-factor));
    transform: scale(var(--play-zoom-factor));
}

button, [role=button] {
    cursor: pointer;
    appearance: none;
    background-color: transparent;
    color: var(--button-color);
    border-radius: 0.5rem;
    border: var(--button-color) solid 1px;

    &:hover {
        background-color: hsl(from var(--button-color) h s l / 10%)
    }
}

.stripe {
    display: grid;
    flex-direction: column;
    grid-template-rows: auto 1fr;
    padding: 1rem;
    width: 100%;
    height: 40rem;
    gap: 1rem;

    @media (min-width: 1024px) {
        grid-template-rows: none;
        height: 27rem;
    }
}

.black {
    background-color: #27272a;
    color: white;
    height: auto;

    ul {
        padding: 0;
    }

    #fizzbuzz-wrapper {
        width: 100%;
        height: 14rem;
    }

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }
}

.red {
    display: block;
    background-color: #ef4444;
    color: black;
    --button-color: black;
}

.gold {
    justify-items: center;
    background-color: #facc15;
    color: black;

    @media (min-width: 1024px) {
        grid-template-columns: 1fr 2fr;
        
        #fizzbuzz-wrapper {
            height: 66.66%;
        }
    }

    img {
        max-width: 38rem;
    }
}
