:root {
	--scrollbar-track-bg-color: #333;
    --scrollbar-thumb-bg-color: #666;
    --scrollbar-thumb-hover-bg-color: #555;
	--c-button-height: 4rem;
	--play-zoom-factor: 0.75;
	--button-color: white;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.hidden {
	display: none !important;
}

h1 {
	font-size: 1.875rem;
    line-height: 2.25rem;
}

h2 {
	font-size: 1.5rem;
	line-height: 2rem;
}

ul {
    list-style-position: inside;
}

p {
	text-wrap-style: balance;
}

main {
	display: flex;
	flex-direction: column;
}

header {
    display: grid;
    grid-template-columns: calc(2rem + 48px) 1fr;
    align-items: center;
	padding: 10px 2rem;
	width: 100%;
	position: sticky;
	top: 0;
	z-index: 1;
	color: white;
	background-color: #171717;

	a {
		text-decoration: none;
	}

	nav {
		display: flex;
		flex-wrap: wrap;
		column-gap: 2rem;
		font-size: 1.25rem;
	}

	@media screen and (max-width: 400px) {
		grid-template-columns: 0 1fr;
		svg {
			display: none;
		}

		nav {
			font-size: 1.125rem;
		}
	}
}

a {
	color: inherit;

	&:hover {
		text-decoration: underline;
	}
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover-bg-color);
}
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb-bg-color);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background: var(--scrollbar-track-bg-color);
}