{{- $style := resources.Get "/css/features.css" | minify }}
{{ (printf "<%s>%s</style>" "style" ($style.Content | safeCSS)) | safeHTML }}

{{ with .GetPage "features" }}
	{{ range .Pages }}
		<div class="feature {{ if not (eq .Weight 0) }} hidden {{ end }}" id="c{{.Weight}}">
			<div class="feature-content">
				{{ .Content }}
			</div>
			<div class="feature-play">
				<iframe loading="lazy" src='{{ .Param "play" }}'></iframe>
			</div>
		</div>
	{{ end }}
{{ end }}
<div id="next-btn-wrapper">
	<button id="next-btn" onclick="nextC()">{{ T "next" }}</button>
</div>

<script>
	let cIndex = 0;
	const maxC = 2;
	function nextC() {
		document.getElementById('c'+cIndex).classList.toggle('hidden')
		cIndex++;
		if (cIndex > maxC) {
			cIndex = 0;
		}
		document.getElementById('c'+cIndex).classList.toggle('hidden')
	}
</script>