{{- define "main" -}}
	<div class="stripe black">
		<div>
			{{ .Content }}
			<br>
			{{ $other := (index .Translations 0) }}
			<a href="{{ $other.Permalink}}" class="small">{{ $other.Language.LanguageName }} site</a>
		</div>
		<div>
			<div id="fizzbuzz-wrapper">
				<iframe title="Fizzbuzz Spielplatz" class="scale-down" src="https://spiel.ddp.im/embed/?code=QmluZGUgIkR1ZGVuL0F1c2dhYmUiIGVpbi4KxhtJc3RfVGVpbGJhciBhdXPIK01hdGjOKVphaGxfRWlucyzGC0RyZWnHC0bDvG5mIHVuZMYPSHVuZGVydMxPxBhlbsdQCkbDvHIgamXHVSBpIHZvbsQbcyBiaXMgaMY%2FLCBtYWNoZToKICAgIFdlbm4gaSBkdXJjaCBkcmVpIHTnALRpc3TFesgdZuUAjMseLCBTY2hyZWliZSBkZW4gVGV4dCAiRml6ekJ1enoiIGF1ZsR7ZSBaZWlsZS7FblNvbnN0xnnffdtf1lvJUGFiZXL%2FALXQVvoAsekAtcs3aekBXs8y&readonly&noscroll"></iframe>
			</div>
			<br>
			
			{{ partial "dl-row" . }}
		</div>
	</div>
	<div class="stripe red">
		{{ partial "features" . }}
	</div>
	<div class="stripe gold">
		<div id="vs-code-text">
			{{ with .Site.GetPage "vscode-support" }}
				{{ .Content }}
			{{ end }}
		</div>
		<div id="vs-code-img">
			<img src="/img/vscode-screenshot.png" alt="vscode" width="100%">
		</div>
	</div>
{{- end -}}